<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

    <session-factory>

        <!--<property name="connection.driverClass">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.url">jdbc:mysql://10.65.1.62:3306/hibernate</property>-->
        <!--<property name="connection.username">fishsey</property>-->
        <!--<property name="connection.password">0114</property>-->
        <!--<property name="connection.username">fishsey</property>-->
        <!--<property name="connection.password">0114</property>-->

        <!-- 指定数据库方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- 根据需要自动创建数据表 -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 指定连接池里最大连接数 -->
        <!--<property name="hibernate.c3p0.max_size">20</property>-->
        <!--&lt;!&ndash; 指定连接池里最小连接数 &ndash;&gt;-->
        <!--<property name="hibernate.c3p0.min_size">1</property>-->
        <!--&lt;!&ndash; 指定连接池里连接的超时时长 &ndash;&gt;-->
        <!--<property name="hibernate.c3p0.timeout">5000</property>-->
        <!--&lt;!&ndash; 指定连接池里最大缓存多少个Statement对象 &ndash;&gt;-->
        <!--<property name="hibernate.c3p0.max_statements">100</property>-->
        <!--<property name="hibernate.c3p0.idle_test_period">3000</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">2</property>-->
        <!--<property name="hibernate.c3p0.validate">true</property>-->


        <!-- 显示 Hibernate持久化操作所生成的 SQL -->
        <!-- 将 SQL脚本进行格式化后再输出 -->
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <property name="jdbc.batch_size">50</property>
        <property name="hibernate.jdbc.batch_size">100</property>

        <!--<property name="current_session_context_class">thread</property>-->

    </session-factory>

</hibernate-configuration>
