<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 定义数据源 Bean，使用 C3P0数据源实现，并注入数据源的必要信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close"
		p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://10.65.1.62:3306/douban_hibernate"
		p:user="fishsey"
		p:password="0114"
		p:maxPoolSize="40"
		p:minPoolSize="2"
		p:initialPoolSize="2"
		p:maxIdleTime="30"/>


	<!-- 定义Hibernate的 SessionFactory，SessionFactory需要依赖数据源，注入dataSource -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource">
        <property name="configLocation" value="classpath:com.fishsey.bookRecys/hibernate/hibernate.cfg.xml"></property>
        <property name="mappingLocations" value="classpath:com.fishsey.bookRecys/hibernateMapper/*.xml"></property>
	</bean>


	<!-- 配置 Hibernate的局部事务管理器，使用HibernateTransactionManager类 -->
	<!-- 该类是PlatformTransactionManager接口针对采用Hibernate的特定实现类 -->
	<!-- 配置HibernateTransactionManager需依赖注入SessionFactory -->
	<bean id="transactionManager" 
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory"/>


    <!--配置基于注解的声明式事务,默认使用注解来管理事务行为-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>


    <bean id="baseDaoImpl" class="com.fishsey.bookRecys.dao.hibernate.impl.BaseDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <context:component-scan base-package="com.fishsey.bookRecys.tools.jsonParse"></context:component-scan>
    <context:component-scan base-package="com.fishsey.bookRecys.entity.hibernate"></context:component-scan>
    <context:component-scan base-package="com.fishsey.bookRecys.crawler.persistence.byHibernate"></context:component-scan>



</beans>
